/*---------Misc -------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
}
h2{
    color: white;
    font-size: 1.8em;
    text-align: center;
    padding-top: 20px;
}

body{
    background: url("https://c.pxhere.com/photos/00/33/moon_universe_space_milky_way_background_galaxy_planet_all-1188425.jpg!d");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


/*-------------Menu -----------------*/



#navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;
    background: linear-gradient(-90deg, #101010, #808080);
    padding-right: 20px;
    height: 5vw;

}

#navbar ul li{
    display: inline-block;
    padding-left: 40px;
    padding-right:40px;
}

#navbar ul li a{
    padding: 5px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    transition: font-size 0.5s;
}

#navbar ul li a:hover{
    font-size: 1.3em;
}



/*------Welcome Section ------*/

#welcome-section{

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 330px;
    padding-bottom: 300px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    height: 100vh;
}


/*----- About me --------*/

#about_me{
    background: linear-gradient(-90deg, #101010, #808080);
}

.container{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;
}

.container img{
    height: 30vw;
    padding: 20px;
    margin: 20px;
    border-radius: 50%;
}
.container p{
    text-align: justify;
    color: white;
    font-size: 1.4em;
    align-self: center;
    padding: 20px;
    margin: 20px;
}

/*-----------Projects----------*/

#projects{
    background: rgba(100, 100, 100, 0.6);
}

.container-prj{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item{
    padding: 30px;
}
.item img{
    max-width: 100%;
    height: auto;
    border-radius: 15px 15px 15px 15px;
    transition: border-radius 0.3s;
}
.item figcaption{
    background-color: rgba(20, 20, 20, 0.8);
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    color: white;
    transition: color 0.3s;
    transition: border-radius 0.3s;
}

.item:hover > a > .image{
    border-radius: 15px 15px 0 0;
}

.item:hover > a > figcaption{
    color: rgb(255, 154, 154);
    border-radius: 0 0 15px 15px;
}

/*---------- Contact Me ----------*/



